<div class ="container text-center">
    <h1>This my about page!</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
    developer and entrenprenaurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error facere est voluptatum, sit saepe eos accusamus nisi ullam neque, cum nostrum vel? Blanditiis maxime, mollitia perferendis. Quis, saepe, consectetur! Ipsum.
    </p>
</div>